footer {
    background-color: #1b1929;
    padding: 20px;
}

.footer-links img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    opacity: 0.7;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    width: 80%;
    align-items: center;
    margin: auto;
    color: #9b9b9b;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.footer-nav a:hover {
    color: #6689ff;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.footer-icons p {
    color: #9b9b9b;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
    opacity: 0.7;
}

@media (max-width: 768px){
    .footer-nav {
        width: 95%;
        align-items: baseline;
    }
    .footer-nav a{
        line-height: 30px;
        margin-left: 10px;
    }
}

@media(max-width: 320px){
    .footer-nav{
        width: 80%;
        flex-wrap: wrap;
    }

    .footer-nav a{
        width: 45%;
        line-height: 20px;
    }
}

@media(max-width: 425px){
    .footer-nav{
        width: 100%;
        flex-wrap: wrap;
    }

    .footer-nav a{
        width: 45%;
        line-height: 20px;
    }
}