.section-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}

.team-block {
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: 50px 0;
    flex-wrap: wrap;
}

.team-item img {
    width: 300px;
    filter: grayscale(100%);
}

.team-item:hover .team-info{
    width: 220px;
}

.team-item img:hover{
    filter: none;
}

.team-item {
    position: relative;
    transition: width 2s;
}

.team-info {
    width: 200px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 200px;
    color: white;
    transition: width 2s;
}

.team-info h1 {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
}

.team-info p {
    margin: 5px 0;
}

@media (max-width: 1024px){
    .team-item img  {
        width: 450px;
    }
    .team-item  {
        margin-top: 20px;
    }
    .team-info {
        width: 250px;
        top: 300px;
    }
}

@media (max-width: 768px){
    .team-item img  {
        width: 350px;
    }
    .team-info {
        top: 250px;
    }
}