.section-11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 95%;
    margin-top: 80px;
}

.post-item {
    width: 30%;
    position: relative;
}
.post-item img{
    transform:scale(1) ;
    transition: 1s;
}
.post-item:hover img{
    transform: scale(0.9);
}

.post-date {
    background-color: white;
    width: 100px;
    height: 60px;
    position: absolute;
    top: 280px;
}

.post-date p {
    text-align: center;
    color: #6689ff;
    font-size: 30px;
    padding-top: 15px;
    font-weight: 500;
}

.post-date span {
    font-size: 24px;
}

.post-item > h1 {
    margin-top: 35px;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 30px;
    color: #151515;
}

.post-item > p {
    margin-top: 10px;
    color: #b4b4b4;
    line-height: 24px;
    font-size: 15px;
    font-weight: 500;
}

.post-item >h1:hover {
    color: #6689ff;
}

@media (max-width: 1024px){
    .post-item img{
        width: 100%;
    }
    .post-date {
        top: 190px;
    }
}

@media (max-width: 768px){
    .post-item {
        width: 45%;
        margin-bottom: 20px;
    }
    .post-date {
        top: 200px;
    }
}

@media (max-width: 320px){
    .post-item{
        width: 90%;
    }
}

@media (max-width: 425px){
    .post-item{
        width: 90%;
    }
}