.section-9 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 98%;
    flex-direction: column;
    margin-top: 100px;
}

.review-item {
    width: 29%;
    background-color: white;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.15));
    padding: 20px;
}

.review-item::before {
    content: '';
    border: 20px solid transparent;
    border-top: 40px solid white;
    position: absolute;
    bottom: -40px;
    left: 20px;
}

.review-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.reviewer{
    padding-left: 20px;
}

.reviewer h1{
    font-size: 22px;
    letter-spacing: 1px;
}

.reviewer p {
    font-size: 14px;
    margin: 5px 0;
    color: #6689ff;
    font-weight: 500;
}

.review-item > p {
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}

@media (max-width: 1024px){
    .review-item {
        width: 40%;
        padding: 40px;
        margin-top: 30px;
    }
    .team-block {
        justify-content: space-around;
    }
}

@media (max-width: 768px){
    .review-item {
        width: 35%;
        padding: 40px;
        margin-top: 30px;
    }
}

@media (max-width: 320px){
    .review-item{
        width: 90%;
    }
     
}

@media (max-width: 425px){
    .review-item{
        width: 90%;
    }
}