.section-8 {
    display: flex;
    justify-content: space-around;
    width: 95%;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.section8-txt {
    width: 40%;
}

.tab {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 30px 0;
    border-bottom: 3px solid #dddcdc;
}

.tab li {
    font-size: 36px;
    color: #9b9b9b;
    padding-bottom: 10px;
}

.tab-h2 {
    font-size: 20px;
}

.tab-p {
    margin: 20px 0;
    width: 90%;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 1px;
}

.white-btn {
    color: black;
    border: 1px solid black;
}

.white-btn:hover {
    border: 1px solid #6689ff;
    color: #6689ff;
    background-color: white;
}

.social1 {
    width: 50%;
}

.social2 {
    width: 40%;
    margin-left: -50px;
    opacity: 0.5;
    position: relative;
    top: -40px;
    z-index: -1;
}

@media (max-width: 768px){
    .section8-txt {
        width: 90%;
        margin-bottom: 50px;
    }
}

@media (max-width: 425px){
    .section8-txt{
        text-align: center;
    }

    .tab-p{
        width: 95%;
    }

    .social1{
        width: 60%;
    }

    .social2{
        width: 50%;
    }
}