.section-6 {
    display: flex;
    width: 95%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 50px 0;
}

.section6-cards {
    width: 22%;
    border: 1px solid #9b9b9b;
}

.section6-cards img {
    width: 100%;
}

@media (max-width: 768px){
    .section-6 {
        flex-wrap: wrap;
    }
    .section6-cards {
        width: 45%;
        margin-top: 20px;
    }
}

@media (max-width: 425px){
    .section6-cards{
        width: 90%;
    }
}