.section-12 {
    display: flex;
    align-items: center;
    width: 95%;
    margin: auto;
    justify-content: center;
}

.contact-item img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.contact-item {
    border: 1px solid #d8d8d8;
    width: 30%;
    text-align: center;
    padding: 70px 0;
}

.contact-item p {
    font-size: 20px;
    font-weight: 500;
    color: #151515;
    margin: 10px 0;
}

@media (max-width: 768px){
    .contact-item  {
        width: 45%;
        margin-bottom: 20px;
    }
}

@media (max-width: 320px){
    .contact-item  {
        width: 90%;
    }
}

@media (max-width: 425px){
    .contact-item{
        width: 90%;
    }
}